
body {
font-family: 'Lora', serif;
background-image: url("https://m.ski-planet.com/photo/les-menuires/pistes.jpg");
text-align:center;
}



H1, H2{
font-family: 'Roboto' sans-serif;
}



.INTRODUCTION{
background-color: white;
text-align: center;
padding: 24px;
width: 53%;
margin: 16px auto;
border-radius: 6px;
box-shadow: 50px 50px 50px 50px #00000038;
}
.accomplissements{
background-color: white;
text-align: center;
padding: 24px;
width: 53%;
margin: 16px auto;
border-radius: 6px;
box-shadow: 50px 50px 50px 50px #00000038;	
}

.FOLLOW{
background-color: white;
text-align:center;
padding: 24px;
width: 30%;
margin: 16px auto;
border-radius: 6px;
box-shadow: 50px 50px 50px 50px #00000038;	
}

h1 {color: black;
}
h2 { color: black;
 }
#avatar {
width: 125px;
height: 125px;
object-fit: cover;
border-radius: 50%;
border: 1px solid black;
}
/*commentaire*/
a {
text-decoration: none;
}
.btn-blue {

	color:blue ;
	background-color:white; ;
	padding:8px 16px ;
	border-radius:6px ;
	font-weight:bolder;
	display: 

}
.btn-blue:hover {

	background-color:blue ;
	color:white ;
	transition:1s
}
.list-inline {
	.FOLLOW1	{
	text-align: center;
	column-count: 1;
}
.FOLLOW2 {
	column-count: 2;
}
.FOLLOW2 {
	column-count: 3;
}
padding: 0;

}
#EDHEC{
padding: 6px 12px ;
	border-radius:; 6px ;
	border: 1px ;
	width:170px ;
	height: 150px ;
	margin-bottom: -35px;
	object-position: center;

}
	

#KEDGE {
	padding: 6px 12px ;
	border-radius:; 6px ;
	border: 1px ;
	width:195px ;
	height: 45px ;
	margin: 0 16px;
	margin-top: 5px;
	margin-bottom: 25px;
	object-position: center;


}
h3 {
	color: black;
	text-align: left;
}
.FOLLOW1	{é
	text-align: center;
	column-count: 1;
}
.FOLLOW2 {
	column-count: 2;
}
.FOLLOW2 {
	column-count: 3;
}
#footovision {
		padding: 6px 12px ;
	border-radius:; 6px ;
	border: 1px ;
	width:195px ;
	height: 45px ;
	margin: 0 16px;
	margin-top: 5px;
	margin-bottom: 25px;
	object-position: center;
}

.COURS {
background-color: white;
text-align: center;
padding: 24px;
width: 53%;
margin: 16px auto;
border-radius: 6px;
box-shadow: 50px 50px 50px 50px #00000038;	
}
.btn-red {

	color:red ;
	background-color:white; ;
	padding:8px 16px ;
	border-radius:6px ;
	font-weight:bolder;
	display: 


}
.btn-red:hover {

	background-color:red ;
	color:white ;
	transition:1s

